* {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/*Colour Palette*/
/*
orange: rgb(255, 83, 13);
hsla(17, 100%, 53%, 1);
#FF530D;
dark gray: rgb(46, 45, 44);
hsla(30, 2%, 18%, 1);
#2e2d2c;
gray: rgb(99, 96, 93);
hsla(30, 3%, 38%, 1);
#63605d;
accent gray(light): rgb(232, 229, 226);
hsla(30, 11%, 90%, 1);
#e8e5e2;
off white: rgb(245, 242, 239);
hsla(30, 23%, 95%, 1);
#f5f2ef;
*/

/*background image for flavor*/
html {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/Dragons.png);
}

body {
  overflow: scroll;
}

#header {
  position: relative;
  font-family: 'Caudex', serif;
  font-size: 250%;
  background: #2e2d2c;
  height: 100px;
  text-align: center;
  color: #FF530D;
}

.headerOne img {
  float: left;
  width: 100px;
  height: 100px;
  background: #2e2d2c;
}

#header h1 {
  font-weight: normal;
  margin-top: 50%;
  margin: 0;
}
#createfields{
  width: 960px;
  overflow: scroll;
  background-color: #e8e5e2;
  position: relative;
  margin-bottom:  auto;
}


#footer {
  font-family: 'Caudex', serif;
  clear: left;
  width: 100%;
  background: #2e2d2c;
  text-align: center;
  color: #FF530D;
  bottom: 0;
  position: fixed;
  margin-top: auto;
}
#footer p {
  font-weight: normal;
  margin-top: 75%;
  margin: 0;
  /*padding-top: 20px;*/
}

.up-arrow {
  height: 20px;
  width: 20px;
}

.down-arrow {
  height: 20px;
  widht: 20px;
}

#attributes-div div div{
  height: 50px;
  width: 50px;
  rotation-point:50% 50%;
  rotation: 90deg;
}
