* {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
}

#wrapper {
  width: 960px;
  height: 100%;
  display: block;
}

header {
  width: 100%;
  height: 200px;
  font-size: 70px;
  color: hsla(17, 100%, 53%, 1);
  background-color: hsla(30, 2%, 18%, 1);
}

#page-title {
  margin: 0;
  padding: 0;
}

#header-wrapper {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 25px;
  font-size: 70px;
  font-family: 'Caudex', sans-serif;
  padding-bottom: 250px;
  display: block;
}

body {
  background-color: hsla(30, 23%, 95%, 1);
}

.dropdown {
  width: auto;
}

#rolls {
  width: 120px;
  margin-top: 6px;
}
.rolls {
  width: 120px;
  display-type: block;
  margin: 2px;
}

#weight {
  margin-top: 6px;
}

#basicInfo {
  margin-top: 6px;
}

#height {
  margin-top: 6px;
}

#logo {
  margin: 0;
  height: 156px;
  width: 187px;
  display: block;
}
