<<<<<<< HEAD
* {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
  }

#wrapper {
  width: 960px;
  height: 100%;
}

header {
  width: 100%;
  height: 150px;
  font-size: 70px;
  font-face: 'Aclonica', sans-serif;
  color: hsla(17, 100%, 53%, 1);
  background-color: hsla(30, 2%, 18%, 1);
}

#header-wrapper {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 25px;
  font-size: 70px;
  font-family: 'Caudex', sans-serif;
}

body {
  background-color: hsla(30, 23%, 95%, 1);
=======
#charStory {
  height: 200px;
  width: 200px;
}

input[type="text"] {
height: 300px;
width: 300px;
}

header.style {
  height: 200px;
>>>>>>> f0b8d44c41280a57a56dcacc3442c93f259c062c
}
