* {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

/*
orange: rgb(255, 83, 13);
  hsla(17, 100%, 53%, 1);
  #FF530D;
  dark gray: rgb(46, 45, 44);
  hsla(30, 2%, 18%, 1);
  #2e2d2c;
  gray: rgb(99, 96, 93);
  hsla(30, 3%, 38%, 1);
  #63605d;
  accent gray(light): rgb(232, 229, 226);
  hsla(30, 11%, 90%, 1);
  #e8e5e2;
  off white: rgb(245, 242, 239);
  hsla(30, 23%, 95%, 1);
  #f5f2ef;
*/

body {
  margin:0;
  padding:0;
  /*font-family: Sans-Serif;*/
  line-height: 1.5em;
}

#header {
  font-family: 'Caudex', serif;
  background: #2e2d2c;
  height: 100px;
  text-align: center;
  color: #FF530D;
}

#header h1 {
  margin: 0;
  padding-top: 15px;
}

main {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 100%;
}

#nav {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 230px;
  margin-left: -100%;
  background: #eee;
}

#footer {
  font-family: 'Caudex', serif;
  clear: left;
  width: 100%;
  background: #2e2d2c;
  text-align: center;
  padding: 4px 0;
  color: #FF530D;
}

#wrapper {
  overflow: hidden;
}

#content {
  margin-left: 230px; /* Same as 'nav' width */
  padding-top: 5px;
}

.chaoticClass {
  margin: 15px; /* Padding for content */
  margin-top: 0;
}

/*p {
  color: #555;
}*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: darkgreen;
  text-decoration: none;
}

#hamburger-toggle{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}
