* {
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clear-fix{
  clear: both;
}
/*Colour Palette*/
/*
orange: rgb(255, 83, 13);
hsla(17, 100%, 53%, 1);
#FF530D;
dark gray: rgb(46, 45, 44);
hsla(30, 2%, 18%, 1);
#2e2d2c;
gray: rgb(99, 96, 93);
hsla(30, 3%, 38%, 1);
#63605d;
accent gray(light): rgb(232, 229, 226);
hsla(30, 11%, 90%, 1);
#e8e5e2;
off white: rgb(245, 242, 239);
hsla(30, 23%, 95%, 1);
#f5f2ef;
*/

body, html {
  border-style: 5px dashed;
  border-color: #63605d;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/Dragons.png);
  position: fixed;
  margin: 5px;
  padding: 5px;
  line-height: 1.5em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e8e5e2;
}

#header {
  position: relative;
  font-family: 'Caudex', serif;
  font-size: 250%;
  background: #2e2d2c;
  height: 100px;
  text-align: center;
  color: #FF530D;
}

.headerOne img {
  float: left;
  width: 100px;
  height: 100px;
  background: #2e2d2c;
}

#header h1 {
  font-weight: normal;
  margin-top: 50%;
  margin: 0;
  padding-top: 35px;
}

main {
  position: relative;
  float: left;
  width: 100%;
}

.introduction {
  padding: 10px;
  margin: auto;
  position: fixed;
  width: auto;
}
#content {
  width: 960px;
  font-family: 'Overpass Mono', sans-serif;
  font-size: 20px;
  word-wrap: break-word;
  margin-right: 230px;
  margin-left: 230px; /* Same as 'nav' width */
  padding-top: 5px;
  position: fixed;
  background-color: #e8e5e2;
}
#content span {
  font-weight: bold;
  font-style: italic;
}

#linkOne {
  text-align: center;
}

#nav {
  float: left;
  width: 230px;
  background: #63605d;
}


#wrapper {
  overflow: hidden;
}

.chaoticClass {
  margin: 15px; /* Padding for content */
  margin-top: 0;
}

.teamfooter{
  margin: 15px; /* Padding for content */
  margin-top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: black;
  text-decoration: none;
}

#footer {
  font-family: 'Caudex', serif;
  /*clear: left;*/
  /*width: 100%;*/
  background: #2e2d2c;
  text-align: center;
  padding: 4px 0;
  color: #FF530D;
  top: inherit;
  bottom: 0;
  position: relative;
}
#footer p {
  font-weight: normal;
  margin-top: 50%;
  margin: 0;
  padding-top: 20px;

}

#hamburger-toggle{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  user-select: none;
}
