* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
}

html {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/Dragons.png);
}

header {
  margin: 0;
  width: 100%;
  background: #2e2d2c;
  height: 200px;
  /*text-align: center;*/
  color: #FF530D;
  font-family: 'Caudex', sans-serif;
}

.title {
  float: left;
  width: auto;
  height: auto;
  margin-left: 550px;
  margin-top: 50px;
}

.logo {
  margin-top: 20px;
  margin-left: 30%;
  margin-right: -600px;
  float: left;
  height: 156px;
  width: 187px;
}

.dl-li {
  list-style: none;
}

.dl-li:before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url(assets/arrow22.png);
  background-size: contain;
  background-repeat: no-repeat;
}

a, #sidebar ul li {
  display: block;
  text-decoration: none;
  color: #e8e5e2;
  transition: color 0.3s ease;
}

a:hover {
  color: #63605d;
}

.characters {
  font-size: 30;
  list-style: none;
  margin-left: 5px;
}

.characters:before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 1em;
  background-image: url(assets/arrow22.png);
  background-size: contain;
  background-repeat: no-repeat;
}


#sidebar-toggle {
  display: block;
  position: fixed;
  top: 9px;
  left: 8px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#sidebar-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#sidebar-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#sidebar-toggle span:first-child {
  transform-origin: 0% 0%;
}

#sidebar-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark.*/

#sidebar-toggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #e8e5e2;
}

/* But let's hide the middle one. */

#sidebar-toggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  }  /*text-align: center;*/
  #sidebar-toggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  /* Make this absolute positioned at the top left of the screen */

  #sidebar {
    position: fixed;
    width: 215px;
    margin: -136px 0 0 42px;
    padding-top: 125px;
    height: 1200px;
    background: #FF530D;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #sidebar a, #sidebar ul li {
    margin-top:10px;
    font-size: 20px;
    width: 182px;
  }

  /* And let's fade it in from the left */

  #sidebar-toggle input:checked~div {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }

  #sidebar-fix {
    position: fixed;
    height: 1000px;
    width: 52px;
    background-color: #FF530D;
    display: inline;
    margin: 0;
    border-radius: 5px;
  }

  #sidebar ul li.nth-child(2){
    text-decoration: underline;
  }

.display-img-race {
  height: 150px;
  width: 150px;
}

.display-img-class {
  height: 150px;
  width: 150px;
}


.wrapper {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3%;
}

.chaoticClass h1 {
  font-family: 'Caudex', sans-serif;
  font-size: 70px;
}


.chaoticClass {
  text-align: center;
}

.display-list {
  text-align: left;
  width: 200px;
  margin: 0 auto;
}

.up-arrow {
  height: 25px;
  width: 25px;
  transform: rotate(270deg);
}

.down-arrow {
  height: 25px;
  width: 25px;
  transform: rotate(90deg);
}

.table1 {
  width: 500px;
  margin-left: 10px;
}

.table2 {
  width: 400px;
  float: right;
  margin-top: -762px;
  margin-right: 400px;
}

.table2 tbody {
  float: left;
  width: 500px;
  margin-left: 60px;
}

.table1 tbody {
  width: 400px;
  margin-left: 400px;
  float: left;
}

tr {
  width: 300px;
  color: black;
}

input {
  width: auto;
  display: block;
}

button {
  width: auto;
  display: block;
}

select {
  width: auto;
  display: inline-block;
}

input, textarea, select, button {
  border-radius: 5px;
}

.label-div {
  text-align: left;
  padding: 2px;
}

#delete {
  margin: 0 auto;
}

.character-info{
  width: 400px;
  display: inline-block;
}

.character-ability{
  width: 400px;
  display: inline-block;
}

.display-img{
  margin-top: 5%;
}

.us {
  margin-left: 29%;
  margin-top: 50px;
}

.me{
position: relative;
width: 200px;
height: 200px;
overflow: hidden;
z-index: 1;
margin: 0 auto;
display: inline-block;
border: solid black 3px;
}

.me img{
left: 50%;
position: absolute;
top: 50%;
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
max-width: 100%;
margin-bottom: 200px;
}

.story-looks-div{
  width: 960px;
  margin-left: 30%;
  display:inline-block;
  margin-bottom: 3%;
}

.display-story{
  display: inline-block;
margin-left: 3%;
width: 300px;
}

.display-looks{
  display: inline-block;
    margin-left: 7%;
    width: 300px;
}
/*
orange: rgb(255, 83, 13);
hsla(17, 100%, 53%, 1);
#FF530D;

dark gray: rgb(46, 45, 44);
hsla(30, 2%, 18%, 1);
#2e2d2c;

gray: rgb(99, 96, 93);
hsla(30, 3%, 38%, 1);
#63605d;

accent gray(light): rgb(232, 229, 226);
hsla(30, 11%, 90%, 1);
#e8e5e2;

off white: rgb(245, 242, 239);
hsla(30, 23%, 95%, 1);
#f5f2ef;

*/
